@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Dolphin.Freight.Web.Pages.Settings.PackageUnits.CreateModalModel
@inject IStringLocalizer<FreightResource> L
@{
    Layout = null;
    <abp-script src="/Pages/Settings/PackageUnits/init.js" />
}
<abp-modal>
    <abp-modal-header title="@L["Create"].Value"></abp-modal-header>
    <abp-modal-body>
        <abp-row>
            <abp-column>
                <abp-input asp-for="PackageUnit.PackageCode" maxlength="3" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                <abp-input asp-for="PackageUnit.PackageName" />
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "AmsNoId", FieldName = "AmsNoId",DefaultValue="", IsShowLabel = true , IsRequired = false  })
            </abp-column>
        </abp-row>
        
        <abp-row>
            <abp-column>
                @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "EManifestId", FieldName = "EManifestId",DefaultValue="", IsShowLabel = true , IsRequired = false  })
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                <abp-input asp-for="PackageUnit.Description" />
            </abp-column>
        </abp-row>
    </abp-modal-body>
    <abp-modal-footer>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Save"].Value</abp-button>
        </div>
        <form id="createForm" method="post" action="/Settings/PackageUnits/CreateModal">
            <input type="hidden" name="PackageCode" id="formPackageCode" maxlength="3" />
            <input type="hidden" name="PackageName" id="formPackageName" />
            <input type="hidden" name="AmsNoId" id="formAmsNoId" />
            <input type="hidden" name="EManifestId" id="formEManifestId" />
            <input type="hidden" name="Description" id="formDescription" />
        </form>
    </abp-modal-footer>
</abp-modal>
