@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.Accounting.Invoices.GAListModel
@inject IStringLocalizer<FreightResource> L

@section scripts
    {
    <script type="text/javascript">
        var cardIndex = 0;
        $(document).ready(function () {

            var l = abp.localization.getResource('Freight');
            var queryAction = function () {
                return {
                    QueryInvoiceType: 2
                };
            };
            var dataTable = $('#ListTable').DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    serverSide: true,
                    paging: true,
                    order: [[2, "asc"]],
                    searching: true,
                    scrollX: true,
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    autoWidth: false,
                    ajax: abp.libs.datatables.createAjax(dolphin.freight.accounting.invoices.invoice.queryList, queryAction),
                    columnDefs: [
                        {
                            className: 'dtr-control',
                            orderable: false,
                            "defaultContent": ""
                        },
                        {
                            title: l('Actions'),
                            rowAction: {
                                items:
                                    [
                                        {
                                            text: l('Edit'),
                                            visible: abp.auth.isGranted('Settings.ItNoRanges.Edit'), //CHECK for the PERMISSION
                                            action: function (data) {
                                                if (data.record.isLocked) {

                                                }
                                                location.href = 'EditModal?Id=' + data.record.id;

                                            }
                                        },

                                        {
                                            text: l('Delete'),
                                            visible: function (data) {

                                                return !data.isLocked && abp.auth.isGranted('Settings.ItNoRanges.Delete')
                                            },

                                            action: function (data) {
                                                if (!data.record.isLocked) {
                                                    abp.message.confirm(l('DeletionConfirmationMessage'))
                                                        .then(function (confirmed) {
                                                            if (confirmed) {
                                                                dolphin.freight.importExport.oceanExports.oceanExportMbl
                                                                    .delete(data.record.id)
                                                                    .then(function () {
                                                                        abp.message.success(l('SuccessfullyDeleted'));
                                                                        dataTable.ajax.reload();
                                                                    });
                                                            }
                                                        });

                                                } else {
                                                    abp.message.warn("鎖定不能刪除")
                                                }

                                                /*
                                                if (!data.record.isLocked) {
                                                    dolphin.freight.importExport.oceanExports.oceanExportMbl
                                                        .delete(data.record.id)
                                                        .then(function () {
                                                            abp.message.success(l('SuccessfullyDeleted'));
                                                            dataTable.ajax.reload();
                                                        });
                                                } else {
                                                    abp.message.warn("鎖定不能刪除")
                                                }*/

                                            }
                                        }
                                    ]
                            }
                        },
                        {
                            //對象
                            title: l('TheCustomerName'),
                            data: "invoiceCompanyName"
                        },
                        {
                            //文件號碼
                            title: l('FilingNo'),
                            data: "filingNo"
                        },
                        {
                            data: null, title: l('InvoiceNo'),
                            render: function (data, type, row) {
                                var hid = row.hblId;
                                if (hid == null || hid == "null") hid = "";
                                return '<a href="/Accounting/Invoice?MethodType=2&InvoiceType=' + row.invoiceType + '&Mid=' + row.mblId + '&Hid=' + hid + '&InvoiceId=' + row.id + '" >' + row.invoiceNo + '</a> ';
                            }
                        },
                        {
                            //對象註冊地名稱
                            title: l('PlaceOfRegistration'),
                            data: "placeOfRegistration"
                        },
                        {
                            //參考編號
                            title: l('TheReferenceNo'),
                            data: "theReferenceNo"
                        },
                        {
                            //類別
                            data: null, title: l('Type'),
                            render: function (data, type, row) {
                                switch (row.invoiceType) {
                                    default:
                                        return "";
                                    case 0:
                                        return "應收";
                                    case 1:
                                        return "應收/應付";
                                    case 2:
                                        return "應付";

                                }
                            }
                        },
                        {
                            //發布日期
                            title: l('PostDate'),
                            data: "postDate"
                        },
                        {
                            //發票日期
                            title: l('InvoiceDate'),
                            data: "invoiceDate"
                        },
                        {
                            //到期日期
                            title: l('DueDate'),
                            data: "dueDate"
                        },
                        {
                            //etd
                            title: l('Etd'),
                            data: "etd"
                        },
                        {
                            //eta
                            title: l('Etd'),
                            data: "eta"
                        },
                        {
                            //OB/L
                            title: l('OblName'),
                            data: "oblName"
                        },
                        {
                            //結餘金額
                            title: l('BalanceAmount'),
                            data: "balanceAmount"
                        },
                        {
                            //最後付款日期
                            title: l('LastDate'),
                            data: "lastDate"
                        },
                        {
                            //分站
                            title: l('OfficeId'),
                            data: "officeName"
                        },
                        {
                            //MBLNO
                            title: l('MblNo'),
                            data: "mblNo"
                        },
                        {
                            //HBL NO
                            title: l('HblNo'),
                            data: "hblNo"
                        }

                    ]
                })
            );

        });

    </script>
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Accounting"] />
            <abp-breadcrumb-item title=@L["Menu:Invoice"] />
            <abp-breadcrumb-item title=@L["Menu:Invoice.GAList"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column class="title">
                    <abp-card-title>@L["Menu:Invoice.GAList"]</abp-card-title>
                </abp-column>

        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ListTable" style="width:2000px;"></abp-table>
    </abp-card-body>
</abp-card>