@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.AccountingSetting.GlCodes.IndexModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@section scripts{
    <abp-script src="/Pages/AccountingSettings/GlCodes/Index.js" />
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:AccountingSettings"] />
            <abp-breadcrumb-item title=@L["Menu:GlCodes"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
            <div class="title">
                @L["Menu:GlCodes"]
            </div>
            <abp-button id="NewGlCodeButton"
                        text="@L["Create"].Value"
                        icon="plus"
                        class="btn btn-add" />
        </abp-card-header>
        <abp-card-body>
            <abp-table striped-rows="true" id="GlCodesTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>

