
<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href='~/newwebsite/images/favicon.ico' />
    <link rel="image_src" href='~/newwebsite/images/favicon.ico' type="image/jpeg" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Noto+Serif+TC:wght@500&family=Oswald:wght@500&display=swap">
    <link rel="stylesheet" href="~/newwebsite/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/newwebsite/assets/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/newwebsite/assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/newwebsite/css/login.css" />
</head>

<body>
    <header>
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fa fa-globe"></i>
                    <span class="user-name">語言
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">中文</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">英文</a>
                </div>
            </li>
        </ul>
    </header>


   

            @RenderBody()





    <!--JS-->
    <!-- <script src='js/jquery-3.5.1.min.js'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/newwebsite/js/popper.min.js"></script>
    <script src='~/newwebsite/assets/bootstrap/js/bootstrap.min.js'></script>
    <script src='~/newwebsite/assets/bootstrap-select/js/bootstrap-select.min.js'></script>
    <script src="~/newwebsite/assets/bootstrap-select/js/i18n/defaults-zh_TW.js"></script>
    <script src="~/newwebsite/js/script.js"></script>


</body>

</html>