@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.PortsManagement
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@section scripts{
    <abp-script src="/Pages/Settings/PortsManagement/Index.js" />
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Settings"] />
            <abp-breadcrumb-item title=@L["Menu:PortsManagement"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
            <div class="title">
                @L["Menu:PortsManagement"]
            </div>
            @if (await AuthorizationService.IsGrantedAsync(SettingsPermissions.PortsManagement.Create))
            {
                <abp-button id="NewPortsManagementButton"
                        text="@L["Create"].Value"
                        icon="plus"
                            class="btn btn-add" />
            }
        </abp-card-header>
        <abp-card-body>
            <abp-table striped-rows="true" id="PortsManagementTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>
