/* Your Global Styles */
.hbl_sm_area .hbl-sm-0 {
    background: #f3c200;
}

    .hbl_sm_area .hbl-sm-0 .notice {
        border-color: #f3c200;
    }

.hbl_sm_area .hbl-sm-1 {
    background: #8ebaff;
}

    .hbl_sm_area .hbl-sm-1 .notice {
        border-color: #8ebaff;
    }

.hbl_sm_area .hbl-sm-2 {
    background: #e87e04;
}

    .hbl_sm_area .hbl-sm-2 .notice {
        border-color: #e87e04;
    }

.hbl_sm_area .hbl-sm-3 {
    background: #26a69a;
}

    .hbl_sm_area .hbl-sm-3 .notice {
        border-color: #26a69a;
    }

.hbl_sm_area .hbl-sm-4 {
    background: #cb5a5e;
}

    .hbl_sm_area .hbl-sm-4 .notice {
        border-color: #cb5a5e;
    }

.hbl_sm_area .hbl-sm-5 {
    background: rgb(0, 51, 102);
}

    .hbl_sm_area .hbl-sm-5 .notice {
        border-color: rgb(0, 51, 102);
    }

.hbl_sm_area .hbl-sm-6 {
    background: rgba(0, 51, 102, 0.9);
}

    .hbl_sm_area .hbl-sm-6 .notice {
        border-color: rgba(0, 51, 102, 0.9);
    }

.hbl_sm_area .hbl-sm-7 {
    background: rgba(0, 51, 102, 0.8);
}

    .hbl_sm_area .hbl-sm-7 .notice {
        border-color: rgba(0, 51, 102, 0.8);
    }

.hbl_sm_area .hbl-sm-8 {
    background: rgba(0, 51, 102, 0.7);
}

    .hbl_sm_area .hbl-sm-8 .notice {
        border-color: rgba(0, 51, 102, 0.7);
    }

.hbl_sm_area .hbl-sm-9 {
    background: rgba(0, 51, 102, 0.6);
}

    .hbl_sm_area .hbl-sm-9 .notice {
        border-color: rgba(0, 51, 102, 0.6);
    }

.hbl_sm_area .hbl-sm-10 {
    background: rgb(0, 87, 87);
}

    .hbl_sm_area .hbl-sm-10 .notice {
        border-color: rgb(0, 87, 87);
    }

.hbl_sm_area .hbl-sm-11 {
    background: rgba(0, 87, 87, 0.9);
}

    .hbl_sm_area .hbl-sm-11 .notice {
        border-color: rgba(0, 87, 87, 0.9);
    }

.hbl_sm_area .hbl-sm-12 {
    background: rgba(0, 87, 87, 0.8);
}

    .hbl_sm_area .hbl-sm-12 .notice {
        border-color: rgba(0, 87, 87, 0.8);
    }

.hbl_sm_area .hbl-sm-13 {
    background: rgba(0, 87, 87, 0.7);
}

    .hbl_sm_area .hbl-sm-13 .notice {
        border-color: rgba(0, 87, 87, 0.7);
    }

.hbl_sm_area .hbl-sm-14 {
    background: rgba(0, 87, 87, 0.6);
}

    .hbl_sm_area .hbl-sm-14 .notice {
        border-color: rgba(0, 87, 87, 0.6);
    }

.hbl_sm_area .hbl-sm-15 {
    background: rgb(88, 68, 45);
}

    .hbl_sm_area .hbl-sm-15 .notice {
        border-color: rgb(88, 68, 45);
    }

.hbl_sm_area .hbl-sm-16 {
    background: rgba(88, 68, 45, 0.95);
}

    .hbl_sm_area .hbl-sm-16 .notice {
        border-color: rgba(88, 68, 45, 0.95);
    }

.hbl_sm_area .hbl-sm-17 {
    background: rgba(88, 68, 45, 0.9);
}

    .hbl_sm_area .hbl-sm-17 .notice {
        border-color: rgba(88, 68, 45, 0.9);
    }

.hbl_sm_area .hbl-sm-18 {
    background: rgba(88, 68, 45, 0.85);
}

    .hbl_sm_area .hbl-sm-18 .notice {
        border-color: rgba(88, 68, 45, 0.85);
    }

.hbl_sm_area .hbl-sm-19 {
    background: rgba(88, 68, 45, 0.8);
}

    .hbl_sm_area .hbl-sm-19 .notice {
        border-color: rgba(88, 68, 45, 0.8);
    }

.hbl_sm_area .hbl-sm-20 {
    background: rgba(88, 68, 45, 0.75);
}

    .hbl_sm_area .hbl-sm-20 .notice {
        border-color: rgba(88, 68, 45, 0.75);
    }

.hbl_sm_area .hbl-sm-21 {
    background: rgba(88, 68, 45, 0.7);
}

    .hbl_sm_area .hbl-sm-21 .notice {
        border-color: rgba(88, 68, 45, 0.7);
    }

.hbl_sm_area .hbl-sm-22 {
    background: rgba(88, 68, 45, 0.65);
}

    .hbl_sm_area .hbl-sm-22 .notice {
        border-color: rgba(88, 68, 45, 0.65);
    }

.hbl_sm_area .hbl-sm-23 {
    background: rgba(88, 68, 45, 0.6);
}

    .hbl_sm_area .hbl-sm-23 .notice {
        border-color: rgba(88, 68, 45, 0.6);
    }

.hbl_sm_area .hbl-sm-24 {
    background: rgba(88, 68, 45, 0.55);
}

    .hbl_sm_area .hbl-sm-24 .notice {
        border-color: rgba(88, 68, 45, 0.55);
    }

.hblCardTitle{
    color: white
}